
.sectionMain {
  height: 720px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.sectionA {
  width: 600px;
  z-index: 1;
  padding: 40px 20px;
}
.sectionB {
  display: flex;
  background-color: grey;
  opacity: 1;
  width: 100%;
  z-index: 2;
}
.head{
  font-size: 40px;
}

.input {
  border: 1px solid black;
  height: 50px;
  border-radius: 0;
  margin: 10px 0;
  z-index: 1;
}
.radio{
  margin: 20px;
}
.image{
  width: 100%;
  height: 100%;
}
.btnSubmit{
  width: 100px;
  border-radius: 0;
  margin: 10px 0;
  background-color: #f1c50e;
}
.btnClose{
  width: 100px;
  border-radius: 0;
  margin: 10px 0;
  border: 1px solid #f1c50e;
  color: #f1c50e;
  background-color: white;
}
.btnGroup{
  display: flex;
  justify-content: space-between;
}
.btnNext{
  visibility: hidden;
}
.pTag{
  text-transform: capitalize;
}
.card{
  text-transform: capitalize;
}
.btnChoice{
  width: 100%;
  border-radius: 0;
  margin: 10px 0;
  border: 1px solid #f1c50e;
  color: #f1c50e;
  background-color: white;
}
.info{
  position: absolute;
  top: 50%;
  left: 62%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 50vh;
  background-color: red;
  padding: 40px;
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 40px;
  color: #f1c50e;
}
.olTag{
  padding: 10px;
  font-size: 16px;
}
